@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

:root {
  --main-color: #8a461b;
  --second-color: rgb(243 24 24);
  --third-color: rgb(240, 200, 107);
  --fourth-color: #3d1e0c;
  --light-color: #4ea0ff;

  /* footer*/
  --footer-font-color: var(--third-color);
  --footer-bg-color: var(--fourth-color);
}


*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Itim", cursive;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;  
}

body{
  min-height: 100vh;
}

a{
  text-decoration: none;
  color:inherit;
}

.app{
  width: 80%;
  margin: auto;
}


@keyframes fadeIn {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 100%;
  }
}