/* Here you can override the properties */
/* 
.input{
    padding-top: 0.5rem;
   padding-bottom: 0.5rem; 
   padding-right: 0.75rem; 
   padding-left: 2.5rem; 
   border-radius: 0.5rem; 
   border-width: 5px; 
   border-color: var(--second-bg-light);
   width: 100%; 
   color: var(--main-bg);
   background-color: var(--second-bg);
   --bg-opacity: 0.5; 
   }
   
   .iconBox{
   display: flex; 
   position: absolute; 
   top: 0;
   bottom: 0; 
   left: 0; 
   padding-left: 0.75rem; 
   align-items: center; 
   pointer-events: none; 
   }
   
   
   .inputBox{
       position: relative; 
       margin: 1.5rem 0; 
   } */